<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-10 gap-6">
            <div class="col-span-10 lg:col-span-1">
                <label for="degreeBeforeName" class="block text-sm font-medium text-gray-700">Titul</label>
                <input type="text"  name="degreeBeforeName" id="degreeBeforeName" value="{{this.degreeBeforeName}}" class="pl-1.5 py-1.5 pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-10 lg:col-span-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Meno</label>
                <input type="text" name="name" id="name" value="{{this.name}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
            </div>

            <div class="col-span-10 lg:col-span-4">
                <label for="surname" class="block text-sm font-medium text-gray-700">Priezvisko</label>
                <input type="text" name="surname" id="surname" value="{{this.surname}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
            </div>

            <div class="col-span-10 lg:col-span-1">
                <label for="degreeAfterName" class="block text-sm font-medium text-gray-700">Titul</label>
                <input type="text" name="degreeAfterName" id="degreeAfterName" value="{{this.degreeAfterName}}" class=" pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-10 lg:col-span-5">
                <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Telefónne číslo</label>
                <input type="text" name="phoneNumber" id="phoneNumber" value="{{this.phoneNumber}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-10 lg:col-span-5">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="text" name="email" id="email" value="{{this.email}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

        </div>
        <div class="px-4 py-3">
            {{> button}}
        </div>
    </div>
</div>
