<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-10 gap-6">
            <fm-input-labeled class="col-span-10 lg:col-span-1" name="employeeDegreeBefore" value="{{this.degreeBefore}}"               >Titul</fm-input-labeled>
            <fm-input-labeled class="col-span-10 lg:col-span-4" name="employeeName"         value="{{this.name}}"           required    >Meno</fm-input-labeled>
            <fm-input-labeled class="col-span-10 lg:col-span-4" name="employeeSurname"      value="{{this.surname}}"        required    >Priezvisko</fm-input-labeled>
            <fm-input-labeled class="col-span-10 lg:col-span-1" name="employeeDegreeAfter"  value="{{this.degreeAfter}}"                >Titul</fm-input-labeled>
            <fm-input-labeled class="col-span-10 lg:col-span-5" name="employeePhone"        value="{{this.phone}}"                      >Telefónne číslo</fm-input-labeled>
            <fm-input-labeled class="col-span-10 lg:col-span-5" name="employeeEmail"        value="{{this.email}}"                      >Email</fm-input-labeled>
        </div>
        <div class="px-4 py-3">
            <fm-button>Ulož</fm-button>
        </div>
    </div>
</div>
