<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="">
            <fm-input-labeled name="expenseName" value="{{this.name}}">Názov</fm-input-labeled>
            <fm-input-labeled type="date" name="expenseDate" value="{{this.date}}">Dátum</fm-input-labeled>
            <fm-input-labeled type="number" name="expenseAmount" value="{{this.amount}}" step="0.01">Suma</fm-input-labeled>

            <fm-label class="text-sm" for="expenseNote">Poznámka</fm-label>
            <fm-textarea name="expenseNote" rows="15" value="{{this.note}}"></fm-textarea>

            <fm-input-labeled type="file" name="expenseFile">Doklad</fm-input-labeled>

            {{#if this.fileName}}
                <fm-modal-image src="/uploads/expenseImages/{{this.fileName}}" alt="Súbor nebol nájdený"></fm-modal-image>
            {{/if}}


            <fm-button>Ulož</fm-button>

    </div>
</div>
</div>
