
<!--<style>-->
<!--    div.settings {-->
<!--        display:grid;-->
<!--        grid-template-columns: max-content max-content;-->
<!--        grid-gap:5px;-->
<!--    }-->
<!--    div.settings label       { text-align:right; }-->
<!--    div.settings label:after { content: ":"; }-->
<!--</style>-->

<!--<div class="settings">-->
<!--    <label for="supplierName">Názov firmy</label><input-->
<!--        class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--        name="supplierName" id="supplierName" type="text" value="{{this.supplierName}}" placeholder="Názov firmy">-->
<!--    <label for="street">Ulica</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="street" id="street" type="text" value="{{this.street}}">-->
<!--    <label for="postCode">Poštové číslo</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="postCode" id="postCode" type="text" value="{{this.postCode}}">-->
<!--    <label for="town">Mesto</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="town" id="town" type="text" value="{{this.town}}">-->
<!--    <label for="country">Krajina</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="country" id="country" type="text" value="{{this.country}}">-->
<!--    <label for="supplierFoundedIn">Dátum vzniku</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierFoundedIn" id="supplierFoundedIn" type="date"-->
<!--            value="{{dateParse this.supplierFoundedIn}}">-->
<!--    <label for="supplierIco">IČO</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierIco" id="supplierIco" type="number" value="{{this.supplierIco}}" placeholder="IČO">-->
<!--    <label for="supplierDic">DIČ</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierDic" id="supplierDic" type="number" value="{{this.supplierDic}}" placeholder="DIČ"-->
<!--            maxlength="10" minlength="10">-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="settings">&ndash;&gt;-->
<!--    <label for="supplierBank">Banka</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierBank" id="supplierBank" type="text" value="{{this.supplierBank}}" placeholder="Banka">-->
<!--    <label for="bankAccountNumber">Číslo účtu</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="bankAccountNumber" id="bankAccountNumber" type="text" value="{{this.supplierBank}}"-->
<!--            placeholder="Banka">-->
<!--    <label for="iban">IBAN</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="iban" id="iban" type="text" value="{{this.supplierBank}}" placeholder="Banka">-->
<!--    <label for="supplierSwift">SWIFT</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierSwift" id="supplierSwift" type="text" value="{{this.supplierSwift}}" placeholder="SWIFT">-->
<!--    <label for="supplierIcDph">IC DPH</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierIcDph" id="supplierIcDph" type="text" value="{{this.supplierIcDph}}" placeholder="IC DPH">-->
<!--    <label for="supplierRegister">Register</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierRegister" id="supplierRegister" type="text" value="{{this.supplierRegister}}"-->
<!--            placeholder="Register">-->
<!--    <label for="supplierPayingTax">Platiteľ</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierPayingTax" id="supplierPayingTax" type="text" value="{{this.supplierPayingTax}}"-->
<!--            placeholder="Ano/Nie">-->
<!--    {{> button}}-->
<!--</div>-->
<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6">
                <label for="expenseName" class="block text-sm font-medium text-gray-700">Názov</label>
                <input type="text"  name="expenseName" id="expenseName" value="{{this.expenseName}}" class="pl-1.5 py-1.5 pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="expenseDate" class="block text-sm font-medium text-gray-700">Dátum</label>
                <input type="date" name="expenseDate" id="expenseDate" value="{{this.expenseDate}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="expenseAmount" class="block text-sm font-medium text-gray-700">Suma</label>
                <input type="number" name="expenseAmount" id="expenseAmount" value="{{this.expenseAmount}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" step="0.01">
            </div>

            <div class="col-span-6">
                <label for="expenseBody" class="block text-sm font-medium text-gray-700">Poznámka</label>
                <textarea class="w-full pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" name="expenseBody" id="expenseBody" rows="15">{{this.expenseBody}}</textarea>
            </div>

            <div class="col-span-1">
                <label for="expenseFile" class="block text-sm font-medium text-gray-700">Doklad</label>
                <input class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" type="file" name="photo" id="expenseFile">
            </div>

        <div class="px-4 py-3">
            {{> button}}
        </div>
    </div>
</div>
