<div class="a4 relative h-screen border-black border-4 text-sm font-sans bg-white">
    <fm-label class="pl-4" for="invoiceNumber">Faktúra číslo:</fm-label><input class="ml-1 mt-1 shadow-sm sm:text-sm border-gray-300 rounded-md" name="invoiceNumber" id="invoiceNumber" type="text" value="{{this.invoiceNumber}}" required><br>
    <div class="grid grid-cols-2">
        <div class="border-black border-t-2 border-r-2 p-4">

            <h2>Dodávateľ</h2>
            <p>{{this.company.name}}</p>
            <p>{{this.company.supplierResidence}}</p>
            <fm-label class="inline-block w-1/6">IČO</fm-label>             <p class="inline-block w-4/5"> {{this.company.ico}}</p>
            <fm-label class="inline-block w-1/6">DIČ</fm-label>             <p class="inline-block w-4/5"> {{this.company.dic}}</p>
            <fm-label class="inline-block">Platiteľ DPH</fm-label>          <p class="inline-block w-3/5"> {{#if this.company.payingTax}}Áno{{else}}Nie{{/if}}</p>
            <fm-label class="inline-block w-1/6">IČDPH</fm-label>           <p class="inline-block w-4/5"> {{this.company.icdph}}</p>
            <fm-label class="inline-block w-1/6">Register</fm-label>        <p class="inline-block w-4/5"> {{this.company.register}}</p>
            <a class="block remove-on-print text-xs logoColourText underline hover:text-green-700" href="/company">Zmeniť údaje</a>

            <fm-label class="inline-block w-1/6" for="supplierSwift" >ÚČET</fm-label>
            <fm-input class="inline-block w-4/5" list="bank-accounts" name="bankAccountNumber" type="text" placeholder="Číslo Účtu" value="{{this.bankAccountNumber}}"></fm-input>
            <datalist id="bank-accounts">
                <option value="{{this.company.bankAccountNumber1}}">{{this.company.bankAccountNumber1}}</option>
                <option value="{{this.company.bankAccountNumber2}}">{{this.company.bankAccountNumber2}}</option>
                <option value="{{this.company.bankAccountNumber3}}">{{this.company.bankAccountNumber3}}</option>
            </datalist>

            <fm-label class="inline-block w-1/6" for="supplierBank">Banka</fm-label>
            <fm-input class="inline-block w-4/5" list="bank-names"  name="bank" type="text" placeholder="Moja Banka, a.s." value="{{this.bank}}" required></fm-input>
            <datalist id="bank-names">
                <option value="{{this.company.bank1}}">{{this.company.bank1}}</option>
                <option value="{{this.company.bank2}}">{{this.company.bank2}}</option>
                <option value="{{this.company.bank3}}">{{this.company.bank3}}</option>
            </datalist>

            <fm-label class="inline-block w-1/6" for="iban">IBAN</fm-label>
            <fm-input class="inline-block w-4/5" list="bank-ibans" name="iban" type="text" placeholder="IBAN" value="{{this.iban}}" required maxlength="32"></fm-input>
            <datalist id="bank-ibans">
                <option value="{{this.company.iban1}}">{{this.company.iban1}}</option>
                <option value="{{this.company.iban2}}">{{this.company.iban2}}</option>
                <option value="{{this.company.iban3}}">{{this.company.iban3}}</option>
            </datalist>

        </div>
        <div class="border-black border-t-2 ">
            <div class="grid grid-cols-2" >
                <div class="border-black border-r-2 px-4">
                    <fm-label for="paymentMethod">Forma úhrady</fm-label>
                    <select class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="paymentMethod" id="paymentMethod" >
                        <option {{#ifCond "POSTOVA POUKAZKA" this.paymentMethod }} selected {{/ifCond}} value="POSTOVA POUKAZKA">Poštová poukážka</option>
                        <option {{#ifCond "PREVOD" this.paymentMethod }} selected {{/ifCond}} value="PREVOD">Bankový Prevod</option>
                        <option {{#ifCond "HOTOVOST" this.paymentMethod }} selected {{/ifCond}} value="HOTOVOST">Hotovosť</option>
                        <option {{#ifCond "ZMENKA" this.paymentMethod }} selected {{/ifCond}} value="ZMENKA">Zmenka</option>
                        <option {{#ifCond "KARTA" this.paymentMethod }} selected {{/ifCond}} value="KARTA">Karta</option>
                    </select>
                    <br>
                    <label for="deliveryMethod">Spôsob Dopravy:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="deliveryMethod" id="deliveryMethod" type="text" placeholder="Spôsob Dopravy" value="{{this.deliveryMethod}}" required><br>
                    <label for="currency">Mena:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="currency" id="currency" type="text" placeholder="Mena" value="{{this.currency}}" required>
                </div>
                <div class="border-black  px-4">
                    <label for="variableSymbol">Variabilný symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="variableSymbol" id="variableSymbol" type="number" placeholder="Variabilný symbol" value="{{this.variableSymbol}}" required max="9999999999"><br><!--nepovinny -->
                    <label for="constantSymbol">Konštantný symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="constantSymbol" id="constantSymbol" type="number" placeholder="Konštantný symbol" value="{{this.constantSymbol}}" required max="9999"><br><!--nepovinny -->
                    <label for="specificSymbol">Špecifický symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="specificSymbol" id="specificSymbol" type="number" placeholder="Špecifický symbol" value="{{this.specificSymbol}}" required max="9999999999" > <!--nepovinny -->

                </div>

            </div>
            <div class="p-4 border-t-2 border-black">
                <h2 >Odberateľ</h2>
                <label for="customerName"></label><fm-input     name="customerName"       type="text" placeholder="Môj klient, s.r.o." value="{{this.customer.name}}" required></fm-input>
                <label for="customerStreet"></label><fm-input   name="customerStreet"     type="text" placeholder="Ulica, súpisné číslo" value="{{this.customer.street}}" required></fm-input>
                <label for="customerPostCode"></label><fm-input name="customerZipCode"   type="text" placeholder="PSČ" value="{{this.customer.zipCode}}" required></fm-input>
                <label for="customerTown"></label><fm-input     name="customerTown"       type="text" placeholder="Mesto" value="{{this.customer.town}}" required></fm-input>
                <label for="customerCountry"></label><fm-input  name="customerCountry"    type="text" placeholder="Krajina" value="{{this.customer.country}}" required></fm-input>
                <fm-label class="inline-block w-1/6" for="customerIco">IČO</fm-label><fm-input class="inline-block w-5/6"        name="customerIco"        type="number" placeholder="IČO" value="{{this.customer.ico}}" required max="99999999"></fm-input>
                <fm-label class="inline-block w-1/6" for="customerDic">DIČ</fm-label><fm-input class="inline-block w-5/6"         name="customerDic"        type="number" placeholder="DIČ" value="{{this.customer.dic}}" required max="9999999999"></fm-input>
                <fm-label class="inline-block w-1/6" for="customerIcDph">IČDPH</fm-label><fm-input class="inline-block w-5/6"     name="customerIcDph"      type="text" placeholder="IČDPH" value="{{this.customer.icdph}}" required minlength="12" maxlength="12"></fm-input>
            </div>

        </div>

    </div>

    <div class="grid grid-cols-3 border-b-2 border-black"  id="payment">
        <div class="border-black border-t-2 border-r-2 px-4">
            <fm-label for="dateOfIssue">Dátum vystavenia</fm-label>
            <fm-input class="inline-block" name="dateOfIssue"   type="date"     placeholder="Dátum vystavenia"  value="{{dateParse this.dateOfIssue}}" required></fm-input>
        </div>
        <div class="border-black border-t-2 border-r-2 px-4">
            <fm-label for="deliveryDate">Dátum dodania</fm-label>
            <fm-input name="deliveryDate"   type="date"     placeholder="Dátum dodania"     value="{{dateParse this.deliveryDate}}" required></fm-input>
        </div>
        <div class="border-black border-t-2 px-4">
            <fm-label for="dueDate">Dátum splatnosti</fm-label>
            <fm-input name="dueDate"  type="date"     placeholder="Dátum splatnosti"  value="{{dateParse this.dueDate}}" required></fm-input>
        </div>
    </div>


    <div class="flex justify-center mt-3 ml-3 mr-1">
        <table class="content-center table-auto text-xs" >
            <tbody id="table-of-contents">
            <tr>
                <th class="font-normal border-2 border-black">P. č.</th>
                <th class="font-normal border-2 border-black"><label for="quantity">Kód položky</label></th>

                <th class="font-normal border-2 border-black"><label for="itemName">Názov položky</label></th>
                <th class="font-normal border-2 border-black"><label for="quantity">Množstvo</label></th>
                <th class="font-normal border-2 border-black"><label for="itemUnit">MJ</label></th>

                <th class="font-normal border-2 border-black"><label for="itemPriceWithoutTax">Cena za j. bez DPH</label></th>
                <th class="font-normal border-2 border-black"><label for="">Cena za j. s DPH</label></th>
                <th class="font-normal border-2 border-black">Spolu bez DPH</th>
                <th class="font-normal border-2 border-black"><label for="">DPH</label></th>
                <th class="font-normal border-2 border-black"><label for="itemTax">DPH %</label></th>
                <th class="font-normal border-2 border-black"><label for="discount">Zľava v %</label></th>

                <th class="font-normal border-2 border-black"><label for="">Celková cena</label></th>
            </tr>

            {{#each this.invoiceItemLists}}
                <tr id="row{{plus @index 1}}">
                    <!--0--><td class="border-2 border-black">{{plus @index 1}}</td>
                    <!--1--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemBarcode" id="itemBarcode" type="text" placeholder="Kód položky" value="{{item.itemBarcode}}" ></td>
                    <!--2--><td class="border-2 border-black"><input  class="w-24 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemName" id="itemName" type="text" placeholder="" value="{{item.itemName}}" required></td>
                    <!--3--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="quantity" id="quantity" type="number"  placeholder="" value="{{quantity}}" min="0" required step="0.1" onchange="updateAll(this)"></td>
                    <!--4--><td class="border-2 border-black"><input  class="w-10 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemUnit" id="itemUnit" type="text" placeholder="" value="{{item.itemUnit}}" required></td>
                    <!--5--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemPriceWithoutTax" id="itemPriceWithoutTax"  type="number"    value="{{item.itemPriceWithoutTax}}" min="0" required step="0.01" onchange="updateAll(this)"></td>
                    <!--6--><td class="border-2 border-black">{{singleItemWithTax this.item.itemTax item.itemPriceWithoutTax}}</td>
                    <!--7--><td class="border-2 border-black itemSum">{{multiply item.itemPriceWithoutTax quantity discount}}</td>
                    <!--8--><td class="border-2 border-black">{{absTax this.item.itemTax quantity item.itemPriceWithoutTax}}</td>
                    <!--9--><td class="border-2 border-black"><input  class="w-14 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemTax" id="itemTax" type="number" placeholder=""  value="{{this.item.itemTax}}" required onchange="updateAll(this)"></td>
                    <!--10--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="discount" id="discount"        type="number"   value="{{discount}}" min="0" max="100" onchange="updateAll(this)"></td>

                    <!--11--><td class="border-2 border-black itemSumWithVatAndDiscount">{{totalWithVat this.item.itemTax quantity item.itemPriceWithoutTax this.discount}}</td>
                    <input  name="itemNote" id="itemBarcode" type="hidden" placeholder="" value="-">
                    <input  name="itemBody" id="itemBody" type="hidden" placeholder="" value="-">
                    <!--12--><td class="remove-on-print cursor-pointer" onclick="removeItem(this)" > X</td>
                </tr>
            {{/each}}
            <tr>
                <td class="border-2 border-black text-right" colspan="11">Spolu:</td>
                <td id="totalSumPrice" class="border-2 border-black">{{priceWithTax this}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <fm-button onclick="addItem()" type="button">Pridaj Položku</fm-button>
    <div class="grid grid-cols-3 absolute bottom-0 w-full">
        <div class="border-black border-t-2 border-r-2 px-4">
            <p>Vyhotovil:  </p>
            <label for="issuedByDegreeBeforeName"></label><fm-input  class="inline-block w-8" name="issuedByDegreeBeforeName" id="issuedByDegreeBeforeName" type="text" placeholder="Titul" value="{{this.issuedByDegreeBeforeName}}"></fm-input>
            <label for="issuedByName"></label><fm-input  class="inline-block w-1/3" name="issuedByName" id="issuedByName" type="text" placeholder="Meno" value="{{this.issuedByName}}" required></fm-input>
            <label for="issuedBySurname"></label><fm-input  class="inline-block w-1/3" name="issuedBySurname" id="issuedBySurname" type="text" placeholder="Priezvisko" value="{{this.issuedBySurname}}" required></fm-input>
            <label for="issuedByDegreeAfterName"></label><fm-input  class="inline-block w-8" name="issuedByDegreeAfterName" id="issuedByDegreeAfterName" type="text" placeholder="Titul" value="{{this.issuedByDegreeAfterName}}"></fm-input>
            <fm-label for="issuedByPhoneNumber">Telefón</fm-label><fm-input name="issuedByPhoneNumber" id="issuedByPhoneNumber" type="text" placeholder="Telefón" value="{{this.issuedByPhoneNumber}}" required></fm-input>
            <fm-label for="issuedByEmail">Email</fm-label><fm-input name="issuedByEmail" id="issuedByEmail" type="text" placeholder="email" value="{{this.issuedByEmail}}" required></fm-input>
        </div>
        <div class="border-black border-t-2 border-r-2 pl-4">
            <p>Prevzal: </p>
            <label for="pickedUpByTitleBefore"></label><fm-input  class="inline-block w-8" name="pickedUpByTitleBefore"  type="text" placeholder="Titul" value="{{this.pickedUpByTitleBefore}}"></fm-input>
            <label for="pickedUpByName"></label><fm-input  class="inline-block w-1/3" name="pickedUpByName"  type="text" placeholder="Meno" value="{{this.pickedUpByName}}" required></fm-input>
            <label for="pickedUpBySurname"></label><fm-input  class="inline-block w-1/3" name="pickedUpBySurname"  type="text" placeholder="Priezvisko" value="{{this.pickedUpBySurname}}" required></fm-input>
            <label for="pickedUpByTitleAfter"></label><fm-input  class="inline-block w-8" name="pickedUpByTitleAfter"  type="text" placeholder="Titul" value="{{this.pickedUpByTitleAfter}}"></fm-input>
        </div>
        <div >
            <p class="border-black border-t-2 pl-4">Suma bez DPH: <text id="summaryWithoutVat">{{priceWithoutTax this}}</text> {{this.currency}}</p>
            <p  class="border-black border-t-2 border-b-2 pl-4">Celková fakturovaná suma: <text id="summaryWithVat">{{priceWithTax this}}</text> {{this.currency}}</p>
            <label class="pl-4" for="deposit">Uhradené zálohami: <input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="deposit" id="deposit" type="number" placeholder="Uhradené zálohami" {{#if this.deposit}} value="{{this.deposit}}" {{else}} value="0" {{/if}}     min="0" step="0.01" onchange="updateSummary()" required > {{this.currency}}</label>
            <p class="border-black border-t-2 h-16 pl-4"> K úhrade: <text id="summaryToPay">{{toPay this}}</text> {{this.currency}}</p>
        </div>

    </div>

</div>
<div class="name-tag-note mt-2">
    <fm-input-labeled name="invoiceName" type="text" value="{{this.invoiceName}}">Zákazka</fm-input-labeled>
    <fm-input-labeled name="tag" type="text" value="{{this.tag}}">Tag</fm-input-labeled>
    <fm-input-labeled name="paidDate" type="date" value="{{dateParse this.paidDate}}">Dátum vyplatenia</fm-input-labeled>

    <fm-label for="note">Poznámka</fm-label>
    <fm-textarea name="note" id="note" cols="" rows="5" value="{{this.note}}"></fm-textarea>
</div>
<fm-button>Ulož</fm-button>

