
<div class="a4 relative h-screen border-black border-4 text-sm font-sans bg-white">
    <label class="pl-4" for="invoiceNumber">Faktúra číslo:</label><input class="ml-1 mt-1 shadow-sm sm:text-sm border-gray-300 rounded-md" name="invoiceNumber" id="invoiceNumber" type="text" value="{{this.invoiceNumber}}" required><br>
<div class="grid grid-cols-2">
    <div class="border-black border-t-2 border-r-2 p-4">

        <h2>Dodávateľ</h2>
        <p>{{this.company.supplierName}}</p>
        <p>{{this.company.supplierResidence}}</p>
        <p>IČO: {{this.company.supplierIco}}</p>
        <p>DIČ: {{this.company.supplierDic}}</p>
        <label>Platiteľ DPH:
            <input disabled type="checkbox" {{#if this.company.supplierPayingTax}} checked {{/if}}>
        </label>
        <p>IČDPH: {{this.company.supplierIcDph}}</p>
        <p>Register: {{this.company.supplierRegister}}</p>
        <a class="text-xs logoColourText underline hover:text-green-700" href="/company">Zmeniť údaje</a><br>
        <label for="supplierSwift">ÚČET:</label><input list="bank-accounts" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="bankAccountNumber" id="bankAccountNumber" type="text" placeholder="Číslo Účtu" value="{{this.bankAccountNumber}}"  required minlength="8" maxlength="11"><br>
        <datalist id="bank-accounts">
            <option value="{{this.company.bankAccountNumber1}}">{{this.company.bankAccountNumber1}}</option>
            <option value="{{this.company.bankAccountNumber2}}">{{this.company.bankAccountNumber2}}</option>
            <option value="{{this.company.bankAccountNumber3}}">{{this.company.bankAccountNumber3}}</option>
        </datalist>
        <label for="supplierBank">Banka:</label><input list="bank-names" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="bank" id="bank" type="text" placeholder="Moja Banka, a.s." value="{{this.bank}}" required><br>
        <datalist id="bank-names">
            <option value="{{this.company.supplierBank1}}">{{this.company.supplierBank1}}</option>
            <option value="{{this.company.supplierBank2}}">{{this.company.supplierBank2}}</option>
            <option value="{{this.company.supplierBank3}}">{{this.company.supplierBank3}}</option>
        </datalist>
        <label for="iban">IBAN:</label><input list="bank-ibans" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="iban" id="iban" type="text" placeholder="IBAN" value="{{this.iban}}" required maxlength="32">
        <datalist id="bank-ibans">
            <option value="{{this.company.iban1}}">{{this.company.iban1}}</option>
            <option value="{{this.company.iban2}}">{{this.company.iban2}}</option>
            <option value="{{this.company.iban3}}">{{this.company.iban3}}</option>
        </datalist>
    </div>
    <div class="border-black border-t-2 ">
        <div class="grid grid-cols-2" >
            <div class="border-black border-r-2 pl-4">
                <label for="paymentMethod">Forma úhrady:</label>
<!--                <input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="paymentMethod" id="paymentMethod" type="text" value="{{this.paymentMethod}}">-->
                <select class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="paymentMethod" id="paymentMethod" >
                    <option value="POSTOVA POUKAZKA">Poštová poukážka</option>
                    <option value="PREVOD">Bankový Prevod</option>
                    <option value="HOTOVOST">Hotovosť</option>
                    <option value="ZMENKA">Zmenka</option>
                    <option value="KARTA">Karta</option>
                </select>
                <br>
                <label for="deliveryMethod">Spôsob Dopravy:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="deliveryMethod" id="deliveryMethod" type="text" placeholder="Spôsob Dopravy" value="{{this.deliveryMethod}}" required><br>
                <label for="currency">Mena:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="currency" id="currency" type="text" placeholder="Mena" value="{{this.currency}}" required>
            </div>
            <div class="border-black  pl-4">
                <label for="variableSymbol">Variabilný symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="variableSymbol" id="variableSymbol" type="number" placeholder="Variabilný symbol" value="{{this.variableSymbol}}" required max="9999999999"><br><!--nepovinny -->
                <label for="constantSymbol">Konštantný symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="constantSymbol" id="constantSymbol" type="number" placeholder="Konštantný symbol" value="{{this.constantSymbol}}" required max="9999"><br><!--nepovinny -->
                <label for="specificSymbol">Špecifický symbol:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="specificSymbol" id="specificSymbol" type="number" placeholder="Špecifický symbol" value="{{this.specificSymbol}}" required max="9999999999" > <!--nepovinny -->

            </div>

        </div>
        <div class="p-4 border-t-2 border-black">
            <h2 >Odberateľ</h2>
            <label for="clientName"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientName"       id="clientName"     type="text" placeholder="Môj klient, s.r.o." value="{{this.customer.clientName}}" required><br>
            <label for="clientStreet"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"         name="clientStreet"     id="clientStreet"   type="text" placeholder="Ulica, súpisné číslo" value="{{this.customer.clientStreet}}" required><br>
            <label for="clientPostCode"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"       name="clientPostCode"   id="clientPostCode" type="text" placeholder="PSČ" value="{{this.customer.clientPostCode}}" required><br>
            <label for="clientTown"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientTown"       id="clientTown"     type="text" placeholder="Mesto" value="{{this.customer.clientTown}}" required><br>
            <label for="clientCountry"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientCountry"       id="clientCountry"     type="text" placeholder="Krajina" value="{{this.customer.clientCountry}}" required><br>
            <label for="clientIco">IČO:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"        name="clientIco"        id="clientIco"      type="number" placeholder="IČO" value="{{this.customer.clientIco}}" required max="99999999"><br>
            <label for="clientDic">DIČ:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"        name="clientDic"        id="clientDic"      type="number" placeholder="DIČ" value="{{this.customer.clientDic}}" required max="9999999999"><br>
            <label for="clientIcDph">IČDPH:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"    name="clientIcDph"      id="clientIcDph"    type="text" placeholder="IČDPH" value="{{this.customer.clientIcDph}}" required minlength="12" maxlength="12"><br>
        </div>

    </div>

</div>





<div class="grid grid-cols-3 border-b-2 border-black"  id="payment">
    <label class="border-black border-t-2 border-r-2 pl-4" for="dateOfIssue">Dátum vystavenia:
        <input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="dateOfIssue"       id="dateOfIssue"    type="date"     placeholder="Dátum vystavenia"  value="{{dateParse this.dateOfIssue}}" required>
    </label>
    <label class="border-black border-t-2 border-r-2 pl-4" for="deliveryDate">Dátum dodania:
        <input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="deliveryDate"      id="deliveryDate"   type="date"     placeholder="Dátum dodania"     value="{{dateParse this.deliveryDate}}" required>
    </label>
    <label class="border-black border-t-2 pl-4" for="dueDate">Dátum splatnosti:
        <input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="dueDate"           id="dueDate"        type="date"     placeholder="Dátum splatnosti"  value="{{dateParse this.dueDate}}" required>
    </label>
</div>


<div class="flex justify-center mt-3 ml-3 mr-1">
    <table class="content-center table-auto text-xs" >
        <tbody id="table-of-contents">
        <tr>
            <th class="font-normal border-2 border-black">P. č.</th>
            <th class="font-normal border-2 border-black"><label for="quantity">Kód položky</label></th>

            <th class="font-normal border-2 border-black"><label for="itemName">Názov položky</label></th>
            <th class="font-normal border-2 border-black"><label for="quantity">Množstvo</label></th>
            <th class="font-normal border-2 border-black"><label for="itemUnit">MJ</label></th>

            <th class="font-normal border-2 border-black"><label for="itemPriceWithoutTax">Cena za j. bez DPH</label></th>
            <th class="font-normal border-2 border-black"><label for="">Cena za j. s DPH</label></th>
            <th class="font-normal border-2 border-black">Spolu bez DPH</th>
            <th class="font-normal border-2 border-black"><label for="">DPH</label></th>
            <th class="font-normal border-2 border-black"><label for="itemTax">DPH %</label></th>
            <th class="font-normal border-2 border-black"><label for="discount">Zľava v %</label></th>

            <th class="font-normal border-2 border-black"><label for="">Celková cena</label></th>
        </tr>

        {{#each this.invoiceItemLists}}
            <tr id="row{{plus @index 1}}">
                <!--0--><td class="border-2 border-black">{{plus @index 1}}</td>
                <!--1--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemBarcode" id="itemBarcode" type="text" placeholder="Kód položky" value="{{item.itemBarcode}}" ></td>
                <!--2--><td class="border-2 border-black"><input  class="w-24 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemName" id="itemName" type="text" placeholder="" value="{{item.itemName}}" required></td>
                <!--3--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="quantity" id="quantity" type="number"  placeholder="" value="{{quantity}}" min="0" required step="0.1" onchange="updateAll(this)"></td>
                <!--4--><td class="border-2 border-black"><input  class="w-10 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemUnit" id="itemUnit" type="text" placeholder="" value="{{item.itemUnit}}" required></td>
                <!--5--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemPriceWithoutTax" id="itemPriceWithoutTax"  type="number"    value="{{item.itemPriceWithoutTax}}" min="0" required step="0.01" onchange="updateAll(this)"></td>
                <!--6--><td class="border-2 border-black">{{singleItemWithTax this.item.itemTax item.itemPriceWithoutTax}}</td>
                <!--7--><td class="border-2 border-black itemSum">{{multiply item.itemPriceWithoutTax quantity discount}}</td>
                <!--8--><td class="border-2 border-black">{{absTax this.item.itemTax quantity item.itemPriceWithoutTax}}</td>
                <!--9--><td class="border-2 border-black"><input  class="w-14 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemTax" id="itemTax" type="number" placeholder=""  value="{{this.item.itemTax}}" required onchange="updateAll(this)"></td>
                <!--10--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="discount" id="discount"        type="number"   value="{{discount}}" min="0" max="100" onchange="updateAll(this)"></td>

                <!--11--><td class="border-2 border-black itemSumWithVatAndDiscount">{{totalWithVat this.item.itemTax quantity item.itemPriceWithoutTax}}</td>
                <input  name="itemNote" id="itemBarcode" type="hidden" placeholder="" value="-">
                <input  name="itemBody" id="itemBody" type="hidden" placeholder="" value="-">
                <!--12--><td class="cursor-pointer" onclick="removeItem(this)" > X</td>
            </tr>
        {{/each}}
        <tr>
            <td class="border-2 border-black text-right" colspan="11">Spolu:</td>
            <td id="totalSumPrice" class="border-2 border-black">{{priceWithTax this}}</td>
        </tr>
        </tbody>
    </table>

</div>
<button class="myButtonStyle" type="button" onclick="addItem()">Pridaj Položku</button>
<div class="grid grid-cols-3 absolute bottom-0 w-full">
    <div class="border-black border-t-2 border-r-2 pl-4">
        <p>Vyhotovil:  </p>
        <label for="issuedByDegreeBeforeName"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedByDegreeBeforeName" id="issuedByDegreeBeforeName" type="text" placeholder="Titul" value="{{this.issuedByDegreeBeforeName}}">
        <label for="issuedByName"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedByName" id="issuedByName" type="text" placeholder="Meno" value="{{this.issuedByName}}" required>
        <label for="issuedBySurname"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedBySurname" id="issuedBySurname" type="text" placeholder="Priezvisko" value="{{this.issuedBySurname}}" required>
        <label for="issuedByDegreeAfterName"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedByDegreeAfterName" id="issuedByDegreeAfterName" type="text" placeholder="Titul" value="{{this.issuedByDegreeAfterName}}"><br>
        <label for="issuedByPhoneNumber">Telefón:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedByPhoneNumber" id="issuedByPhoneNumber" type="text" placeholder="Telefón" value="{{this.issuedByPhoneNumber}}" required><br>
        <label for="issuedByEmail">Email:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="issuedByEmail" id="issuedByEmail" type="text" placeholder="email" value="{{this.issuedByEmail}}" required>
    </div>
    <div class="border-black border-t-2 border-r-2 pl-4">
        <p>Prevzal: </p>
        <label for="pickedUpByTitleBefore"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="pickedUpByTitleBefore" id="pickedUpByTitleBefore" type="text" placeholder="Titul" value="{{this.pickedUpByTitleBefore}}">
        <label for="pickedUpByName"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="pickedUpByName" id="pickedUpByName" type="text" placeholder="Meno" value="{{this.pickedUpByName}}" required>
        <label for="pickedUpBySurname"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="pickedUpBySurname" id="pickedUpBySurname" type="text" placeholder="Priezvisko" value="{{this.pickedUpBySurname}}" required>
        <label for="pickedUpByTitleAfter"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="pickedUpByTitleAfter" id="pickedUpByTitleAfter" type="text" placeholder="Titul" value="{{this.pickedUpByTitleAfter}}">

    </div>
    <div >
        <p class="border-black border-t-2 pl-4">Suma bez DPH: <text id="summaryWithoutVat">{{priceWithoutTax this}}</text> {{this.currency}}</p>
        <p  class="border-black border-t-2 border-b-2 pl-4">Celková fakturovaná suma: <text id="summaryWithVat">{{priceWithTax this}}</text> {{this.currency}}</p>
        <label class="pl-4" for="deposit">Uhradené zálohami: <input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="deposit" id="deposit" type="number" placeholder="Uhradené zálohami" value="{{this.deposit}}" min="0" step="0.01" onchange="updateSummary()" > {{this.currency}}</label>
        <p class="border-black border-t-2 h-16 pl-4"> K úhrade: <text id="summaryToPay">{{toPay this}}</text> {{this.currency}}</p>
    </div>

</div>

</div>
<div class="align-inputs mt-2">
    <label for="invoiceName">Zákazka</label><input class="w-1/3 border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="invoiceName" id="invoiceName" type="text" value="{{this.invoiceName}}">
    <label for="tag">Tag</label><input class="w-1/3 border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="tag" id="tag" type="text" value="{{this.tag}}">
    <label for="note">Poznámka</label><textarea class="border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="note" id="note" cols="" rows="5">{{this.note}}</textarea>

</div>
{{> button}}

