
<!--<style>-->
<!--    div.settings {-->
<!--        display:grid;-->
<!--        grid-template-columns: max-content max-content;-->
<!--        grid-gap:5px;-->
<!--    }-->
<!--    div.settings label       { text-align:right; }-->
<!--    div.settings label:after { content: ":"; }-->
<!--</style>-->

<!--<div class="settings">-->
<!--    <label for="supplierName">Názov firmy</label><input-->
<!--        class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--        name="supplierName" id="supplierName" type="text" value="{{this.supplierName}}" placeholder="Názov firmy">-->
<!--    <label for="street">Ulica</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="street" id="street" type="text" value="{{this.street}}">-->
<!--    <label for="postCode">Poštové číslo</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="postCode" id="postCode" type="text" value="{{this.postCode}}">-->
<!--    <label for="town">Mesto</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="town" id="town" type="text" value="{{this.town}}">-->
<!--    <label for="country">Krajina</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="country" id="country" type="text" value="{{this.country}}">-->
<!--    <label for="supplierFoundedIn">Dátum vzniku</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierFoundedIn" id="supplierFoundedIn" type="date"-->
<!--            value="{{dateParse this.supplierFoundedIn}}">-->
<!--    <label for="supplierIco">IČO</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierIco" id="supplierIco" type="number" value="{{this.supplierIco}}" placeholder="IČO">-->
<!--    <label for="supplierDic">DIČ</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierDic" id="supplierDic" type="number" value="{{this.supplierDic}}" placeholder="DIČ"-->
<!--            maxlength="10" minlength="10">-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="settings">&ndash;&gt;-->
<!--    <label for="supplierBank">Banka</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierBank" id="supplierBank" type="text" value="{{this.supplierBank}}" placeholder="Banka">-->
<!--    <label for="bankAccountNumber">Číslo účtu</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="bankAccountNumber" id="bankAccountNumber" type="text" value="{{this.supplierBank}}"-->
<!--            placeholder="Banka">-->
<!--    <label for="iban">IBAN</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="iban" id="iban" type="text" value="{{this.supplierBank}}" placeholder="Banka">-->
<!--    <label for="supplierSwift">SWIFT</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierSwift" id="supplierSwift" type="text" value="{{this.supplierSwift}}" placeholder="SWIFT">-->
<!--    <label for="supplierIcDph">IC DPH</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierIcDph" id="supplierIcDph" type="text" value="{{this.supplierIcDph}}" placeholder="IC DPH">-->
<!--    <label for="supplierRegister">Register</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierRegister" id="supplierRegister" type="text" value="{{this.supplierRegister}}"-->
<!--            placeholder="Register">-->
<!--    <label for="supplierPayingTax">Platiteľ</label><input-->
<!--            class="border-2 border-gray-400 bg-gray-300 rounded mb-1.5 hover:bg-gray-100 hover:shadow-sm ml-1"-->
<!--            name="supplierPayingTax" id="supplierPayingTax" type="text" value="{{this.supplierPayingTax}}"-->
<!--            placeholder="Ano/Nie">-->
<!--    {{> button}}-->
<!--</div>-->
<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="supplierName" class="block text-sm font-medium text-gray-700">Názov firmy</label>
                <input type="text"  name="supplierName" id="supplierName" value="{{this.supplierName}}" class="pl-1.5 py-1.5 pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="street" class="block text-sm font-medium text-gray-700">Ulica</label>
                <input type="text" name="street" id="street" value="{{this.street}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="town" class="block text-sm font-medium text-gray-700">Mesto</label>
                <input type="text" name="town" id="town" value="{{this.town}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="country" class="block text-sm font-medium text-gray-700">Krajina</label>
                <input type="text" name="country" id="country" value="{{this.country}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="postCode" class="block text-sm font-medium text-gray-700">Poštové číslo</label>
                <input type="text" name="postCode" id="postCode" value="{{this.postCode}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierFoundedIn" class="block text-sm font-medium text-gray-700">Dátum vzniku</label>
                <input type="date" name="supplierFoundedIn" id="supplierFoundedIn" value="{{dateParse this.supplierFoundedIn}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierIco" class="block text-sm font-medium text-gray-700">IČO</label>
                <input type="text" name="supplierIco" id="supplierIco" value="{{this.supplierIco}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierDic" class="block text-sm font-medium text-gray-700">DIČ</label>
                <input type="text" name="supplierDic" id="supplierDic" value="{{this.supplierDic}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" maxlength="10" minlength="10">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierIcDph" class="block text-sm font-medium text-gray-700">IČ DPH</label>
                <input type="text" name="supplierIcDph" id="supplierIcDph" value="{{this.supplierIcDph}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" maxlength="12" minlength="10">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierRegister" class="block text-sm font-medium text-gray-700">Register</label>
                <input type="text" name="supplierRegister" id="supplierRegister" value="{{this.supplierRegister}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="supplierPayingTax" class="text-sm font-medium text-gray-700">Platiteľ Dph</label>
                <input type="checkbox" name="supplierPayingTax" id="supplierPayingTax" {{#if this.supplierPayingTax}} checked {{/if}} class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" value="true">
            </div>
        </div>
        <div class="mt-4 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierBank1" class="block text-sm font-medium text-gray-700">Banka 1</label>
                <input type="text" name="supplierBank1" id="supplierBank1" value="{{this.supplierBank1}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="bankAccountNumber1" class="block text-sm font-medium text-gray-700">Číslo účtu 1</label>
                <input type="text" name="bankAccountNumber1" id="bankAccountNumber1" value="{{this.bankAccountNumber1}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="iban1" class="block text-sm font-medium text-gray-700">IBAN 1</label>
                <input type="text" name="iban1" id="iban1" value="{{this.iban1}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
        </div>

        <div class="mt-4 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierBank2" class="block text-sm font-medium text-gray-700">Banka 2</label>
                <input type="text" name="supplierBank2" id="supplierBank2" value="{{this.supplierBank2}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="bankAccountNumber2" class="block text-sm font-medium text-gray-700">Číslo účtu 2</label>
                <input type="text" name="bankAccountNumber2" id="bankAccountNumber2" value="{{this.bankAccountNumber2}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="iban2" class="block text-sm font-medium text-gray-700">IBAN 2</label>
                <input type="text" name="iban2" id="iban2" value="{{this.iban2}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
        </div>
        <div class="mt-4 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="supplierBank3" class="block text-sm font-medium text-gray-700">Banka 3</label>
                <input type="text" name="supplierBank3" id="supplierBank3" value="{{this.supplierBank3}}"  class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="bankAccountNumber3" class="block text-sm font-medium text-gray-700">Číslo účtu 3</label>
                <input type="text" name="bankAccountNumber3" id="bankAccountNumber3" value="{{this.bankAccountNumber3}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="iban3" class="block text-sm font-medium text-gray-700">IBAN 3</label>
                <input type="text" name="iban3" id="iban3" value="{{this.iban3}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
        </div>
        <div class="px-4 py-3">
            {{> button}}
        </div>
    </div>
</div>
