<!--<div class="flex ">-->
<!--    <div>-->
<!--        <label class="mb-0.5 pt-2 pb-2" for="supplierName">Názov firmy</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2" for="street">Ulica</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="postCode">Poštové číslo</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="town">Mesto</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="country">Krajina</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierFoundedIn">Dátum vzniku</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierIco">IČO</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierDic">DIČ</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierBank">Banka</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="bankAccountNumber">Číslo účtu</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="iban">IBAN</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierSwift">SWIFT</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierIcDph">IC DPH</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierRegister">Register</label><br>-->
<!--        <label class="mb-0.5 pt-2 pb-2"for="supplierPayingTax">Platiteľ</label><br>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"        name="supplierName"         id="supplierName"       type="text" value="{{this.supplierName}}" placeholder="Názov firmy"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                    name="street"               id="street"             type="text" value="{{this.street}}" ><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"          name="postCode"             id="postCode"           type="text" value="{{this.postCode}}" ><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                      name="town"                 id="town"               type="text" value="{{this.town}}" ><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                 name="country"              id="country"            type="text" value="{{this.country}}" ><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"  name="supplierFoundedIn"    id="supplierFoundedIn"  type="date" value="{{dateParse this.supplierFoundedIn}}"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                 name="supplierIco"          id="supplierIco"        type="number" value="{{this.supplierIco}}" placeholder="IČO"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                 name="supplierDic"          id="supplierDic"        type="number" value="{{this.supplierDic}}" placeholder="DIČ" maxlength="10" minlength="10"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"              name="supplierBank"         id="supplierBank"       type="text" value="{{this.supplierBank}}" placeholder="Banka"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"    name="bankAccountNumber"    id="bankAccountNumber"  type="text" value="{{this.supplierBank}}" placeholder="Banka"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"                       name="iban"                 id="iban"               type="text" value="{{this.supplierBank}}" placeholder="Banka"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"             name="supplierSwift"        id="supplierSwift"      type="text" value="{{this.supplierSwift}}" placeholder="SWIFT"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"            name="supplierIcDph"        id="supplierIcDph"      type="text" value="{{this.supplierIcDph}}" placeholder="IC DPH"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"       name="supplierRegister"     id="supplierRegister"   type="text" value="{{this.supplierRegister}}" placeholder="Register"><br>-->
<!--        <input class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"      name="supplierPayingTax"    id="supplierPayingTax"  type="text" value="{{this.supplierPayingTax}}" placeholder="Ano/Nie" ><br>-->
<!--        <input type="submit" value="Submit">-->
<!--    </div>-->
<!--</div>-->
<style>
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label       { text-align:right; }
    div.settings label:after { content: ":"; }
</style>

<div class="settings"><label for="supplierName">Názov firmy</label><input
        class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
        name="supplierName" id="supplierName" type="text" value="{{this.supplierName}}" placeholder="Názov firmy">
    <label for="street">Ulica</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="street" id="street" type="text" value="{{this.street}}">
    <label for="postCode">Poštové číslo</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="postCode" id="postCode" type="text" value="{{this.postCode}}">
    <label for="town">Mesto</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="town" id="town" type="text" value="{{this.town}}">
    <label for="country">Krajina</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="country" id="country" type="text" value="{{this.country}}">
    <label for="supplierFoundedIn">Dátum vzniku</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierFoundedIn" id="supplierFoundedIn" type="date"
            value="{{dateParse this.supplierFoundedIn}}">
    <label for="supplierIco">IČO</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierIco" id="supplierIco" type="number" value="{{this.supplierIco}}" placeholder="IČO">
    <label for="supplierDic">DIČ</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierDic" id="supplierDic" type="number" value="{{this.supplierDic}}" placeholder="DIČ"
            maxlength="10" minlength="10">
    <label for="supplierBank">Banka</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierBank" id="supplierBank" type="text" value="{{this.supplierBank}}" placeholder="Banka">
    <label for="bankAccountNumber">Číslo účtu</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="bankAccountNumber" id="bankAccountNumber" type="text" value="{{this.supplierBank}}"
            placeholder="Banka">
    <label for="iban">IBAN</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="iban" id="iban" type="text" value="{{this.supplierBank}}" placeholder="Banka">
    <label for="supplierSwift">SWIFT</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierSwift" id="supplierSwift" type="text" value="{{this.supplierSwift}}" placeholder="SWIFT">
    <label for="supplierIcDph">IC DPH</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierIcDph" id="supplierIcDph" type="text" value="{{this.supplierIcDph}}" placeholder="IC DPH">
    <label for="supplierRegister">Register</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierRegister" id="supplierRegister" type="text" value="{{this.supplierRegister}}"
            placeholder="Register">
    <label for="supplierPayingTax">Platiteľ</label><input
            class="border-2 border-gray-400 bg-gray-300 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm ml-1"
            name="supplierPayingTax" id="supplierPayingTax" type="text" value="{{this.supplierPayingTax}}"
            placeholder="Ano/Nie">
    {{> button}}
</div>