<div class="a4 relative h-screen border-black border-4 text-sm font-sans bg-white">
    <label class="pl-4" for="orderNumber">Objednávka číslo:</label><input class="ml-1 mt-1 shadow-sm sm:text-sm border-gray-300 rounded-md" name="orderNumber" id="orderNumber" type="text" value="{{this.orderNumber}}" required><br>
<div class="grid grid-cols-2">
    <div class="border-black border-t-2 border-r-2 p-4">

        <h2>Dodávateľ</h2>
        <p>{{this.company.supplierName}}</p>
        <p>{{this.company.supplierResidence}}</p>
        <p>IČO: {{this.company.supplierIco}}</p>
        <p>DIČ: {{this.company.supplierDic}}</p>
        <label>Platiteľ DPH:
            <input disabled type="checkbox" {{#if this.company.supplierPayingTax}} checked {{/if}}>
        </label>
        <p>IČDPH: {{this.company.supplierIcDph}}</p>
        <p>Register: {{this.company.supplierRegister}}</p>
        <a class="text-xs logoColourText underline hover:text-green-700" href="/company">Zmeniť údaje</a><br>
        <label for="supplierSwift">ÚČET:</label><input list="bank-accounts" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="bankAccountNumber" id="bankAccountNumber" type="text" placeholder="Číslo Účtu" value="{{this.bankAccountNumber}}"><br>
        <datalist id="bank-accounts">
            <option value="{{this.company.bankAccountNumber1}}">{{this.company.bankAccountNumber1}}</option>
            <option value="{{this.company.bankAccountNumber2}}">{{this.company.bankAccountNumber2}}</option>
            <option value="{{this.company.bankAccountNumber3}}">{{this.company.bankAccountNumber3}}</option>
        </datalist>
        <label for="supplierBank">Banka:</label><input list="bank-names" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="bank" id="bank" type="text" placeholder="Moja Banka, a.s." value="{{this.bank}}" required><br>
        <datalist id="bank-names">
            <option value="{{this.company.supplierBank1}}">{{this.company.supplierBank1}}</option>
            <option value="{{this.company.supplierBank2}}">{{this.company.supplierBank2}}</option>
            <option value="{{this.company.supplierBank3}}">{{this.company.supplierBank3}}</option>
        </datalist>
        <label for="iban">IBAN:</label><input list="bank-ibans" class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="iban" id="iban" type="text" placeholder="IBAN" value="{{this.iban}}" required maxlength="32">
        <datalist id="bank-ibans">
            <option value="{{this.company.iban1}}">{{this.company.iban1}}</option>
            <option value="{{this.company.iban2}}">{{this.company.iban2}}</option>
            <option value="{{this.company.iban3}}">{{this.company.iban3}}</option>
        </datalist>
    </div>
    <div class="border-black border-t-2 ">
        <div class="grid grid-cols-2 border-black border-b-2" >
            <div class="border-black border-r-2 pl-4">
                <label for="paymentMethod">Forma úhrady:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="paymentMethod" id="paymentMethod" type="text" value="{{this.paymentMethod}}">
                <!--
                <select name="paymentMethod" id="paymentMethod" >
                    <option value="POSTOVA POUKAZKA">Poštová poukážka</option>
                    <option value="PREVOD">Bankový Prevod</option>
                    <option value="HOTOVOST">Hotovosť</option>
                    <option value="ZMENKA">Zmenka</option>
                </select>--><br>
                <label for="deliveryMethod">Spôsob Dopravy:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="deliveryMethod" id="deliveryMethod" type="text" placeholder="Spôsob Dopravy" value="{{this.deliveryMethod}}" required><br>
            </div>
            <div class="border-black  pl-4">
                <label for="currency">Mena:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="currency" id="currency" type="text" placeholder="Mena" value="{{this.currency}}" required>
            </div>

        </div>
        <div class="pl-4">
            <h2 >Odberateľ</h2>
            <label for="clientName"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientName"       id="clientName"     type="text" placeholder="Môj klient, s.r.o." value="{{this.customer.clientName}}" required><br>
            <label for="clientStreet"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"         name="clientStreet"     id="clientStreet"   type="text" placeholder="Ulica, súpisné číslo" value="{{this.customer.clientStreet}}" required><br>
            <label for="clientPostCode"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"       name="clientPostCode"   id="clientPostCode" type="text" placeholder="PSČ" value="{{this.customer.clientPostCode}}" required><br>
            <label for="clientTown"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientTown"       id="clientTown"     type="text" placeholder="Mesto" value="{{this.customer.clientTown}}" required><br>
            <label for="clientCountry"></label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"           name="clientCountry"       id="clientCountry"     type="text" placeholder="Krajina" value="{{this.customer.clientCountry}}" required><br>
            <label for="clientIco">IČO:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"        name="clientIco"        id="clientIco"      type="number" placeholder="IČO" value="{{this.customer.clientIco}}" required max="99999999"><br>
            <label for="clientDic">DIČ:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"        name="clientDic"        id="clientDic"      type="number" placeholder="DIČ" value="{{this.customer.clientDic}}" required max="9999999999"><br>
            <label for="clientIcDph">IČDPH:</label><input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"    name="clientIcDph"      id="clientIcDph"    type="text" placeholder="IČDPH" value="{{this.customer.clientIcDph}}" required minlength="12" maxlength="12"><br>
        </div>

    </div>

</div>





<div class="grid grid-cols-2 border-b-2 border-black"  id="payment">
    <label class="border-black border-t-2 border-r-2 pl-4" for="dateOfIssue">Dátum vystavenia:
        <input class="border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm"  name="dateOfIssue"       id="dateOfIssue"    type="date"     placeholder="Dátum vystavenia"  value="{{dateParse this.dateOfIssue}}" required>
    </label>


</div>


<div class="flex justify-center mt-3 ml-3 mr-1">
    <table class="content-center table-auto text-xs" >
        <tbody id="table-of-contents">
        <tr>
            <th class="font-normal border-2 border-black">P. č.</th>
            <th class="font-normal border-2 border-black"><label for="quantity">Kód položky</label></th>

            <th class="font-normal border-2 border-black"><label for="itemName">Názov položky</label></th>
            <th class="font-normal border-2 border-black"><label for="quantity">Množstvo</label></th>
            <th class="font-normal border-2 border-black"><label for="itemUnit">MJ</label></th>

            <th class="font-normal border-2 border-black"><label for="itemPriceWithoutTax">Cena za j. bez DPH</label></th>
            <th class="font-normal border-2 border-black"><label for="">Cena za j. s DPH</label></th>
            <th class="font-normal border-2 border-black">Spolu bez DPH</th>
            <th class="font-normal border-2 border-black"><label for="">DPH</label></th>
            <th class="font-normal border-2 border-black"><label for="itemTax">DPH %</label></th>
            <th class="font-normal border-2 border-black"><label for="discount">Zľava v %</label></th>

            <th class="font-normal border-2 border-black"><label for="">Celková cena</label></th>
        </tr>

        {{#each this.invoiceItemLists}}
            <tr id="row{{plus @index 1}}">
                <!--0--><td class="border-2 border-black">{{plus @index 1}}</td>
                <!--1--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemBarcode" id="itemBarcode" type="text" placeholder="Kód položky" value="{{item.itemBarcode}}" ></td>
                <!--2--><td class="border-2 border-black"><input  class="w-24 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemName" id="itemName" type="text" placeholder="" value="{{item.itemName}}" required></td>
                <!--3--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="quantity" id="quantity" type="number"  placeholder="" value="{{quantity}}" min="0" required step="0.1" onchange="updateAll(this)"></td>
                <!--4--><td class="border-2 border-black"><input  class="w-10 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemUnit" id="itemUnit" type="text" placeholder="" value="{{item.itemUnit}}" required></td>
                <!--5--><td class="border-2 border-black"><input  class="w-20 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemPriceWithoutTax" id="itemPriceWithoutTax"  type="number"    value="{{item.itemPriceWithoutTax}}" min="0" required step="0.01" onchange="updateAll(this)"></td>
                <!--6--><td class="border-2 border-black">{{singleItemWithTax this.item.itemTax item.itemPriceWithoutTax}}</td>
                <!--7--><td class="border-2 border-black itemSum">{{multiply item.itemPriceWithoutTax quantity discount}}</td>
                <!--8--><td class="border-2 border-black">{{absTax this.item.itemTax quantity item.itemPriceWithoutTax}}</td>
                <!--9--><td class="border-2 border-black"><input  class="w-14 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="itemTax" id="itemTax" type="number" placeholder=""  value="{{this.item.itemTax}}" required onchange="updateAll(this)"></td>
                <!--10--><td class="border-2 border-black"><input  class="w-16 border-2 border-gray-400 bg-gray-200 rounded hover:bg-gray-100 hover:shadow-sm" name="discount" id="discount"        type="number"   value="{{discount}}" min="0" max="100" onchange="updateAll(this)"></td>

                <!--11--><td class="border-2 border-black itemSumWithVatAndDiscount">{{totalWithVat this.item.itemTax quantity item.itemPriceWithoutTax}}</td>
                <input  name="itemNote" id="itemBarcode" type="hidden" placeholder="" value="-">
                <input  name="itemBody" id="itemBody" type="hidden" placeholder="" value="-">
                <!--12--><td class="cursor-pointer" onclick="removeItem(this)" > X</td>
            </tr>
        {{/each}}
        <tr>
            <td class="border-2 border-black text-right" colspan="11">Spolu:</td>
            <td id="totalSumPrice" class="border-2 border-black">{{priceWithTax this}}</td>
        </tr>
        </tbody>
    </table>

</div>
<button class="myButtonStyle" type="button" onclick="addItem()">Pridaj Položku</button>
<div class="grid grid-cols-3 absolute bottom-0 w-full">
    <div class="border-black border-t-2 border-r-2 pl-4">
        <p>Dodávateľ:  </p>
    </div>
    <div class="border-black border-t-2 border-r-2 pl-4">
        <p>Odberateľ: </p>
        <label for="customerTitleBefore"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="customerTitleBefore" id="customerTitleBefore" type="text" placeholder="Titul" value="{{this.customerTitleBefore}}">
        <label for="customerName"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="customerName" id="customerName" type="text" placeholder="Meno" value="{{this.customerName}}" required>
        <label for="customerSurname"></label><input  class="w-1/3 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="customerSurname" id="customerSurname" type="text" placeholder="Priezvisko" value="{{this.customerSurname}}" required>
        <label for="customerTitleAfter"></label><input  class="w-8 border-2 border-gray-400 bg-gray-200 rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="customerTitleAfter" id="customerTitleAfter" type="text" placeholder="Titul" value="{{this.customerTitleAfter}}">

    </div>
    <div>
        <p  class="border-black border-t-2 border-b-2 pl-4">Celková suma: <text id="summaryWithVat">{{priceWithTax this}}</text> {{this.currency}}</p>
        <p class="border-black h-16 pl-4"> K úhrade: <text id="summaryToPay">{{toPay this}}</text> {{this.currency}}</p>
    </div>
</div>

</div>
<div class="align-inputs mt-2">
    <label for="orderName">Zákazka</label><input class="w-1/3 border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="orderName" id="orderName" type="text" value="{{this.orderName}}">
    <label for="tag">Tag</label><input class="w-1/3 border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="tag" id="tag" type="text" value="{{this.tag}}">
    <label for="note">Poznámka</label><textarea class="border-2 border-gray-400 bg-white rounded mb-0.5 hover:bg-gray-100 hover:shadow-sm" name="note" id="note" cols="" rows="5" >{{this.note}}</textarea>
</div>
<button name="action" class="w-16 myButtonStyle" value="save">
    Ulož
</button>
<button name="action" type="button" onclick="generateInvoice()" class="myButtonStyle bg-purple-500" value="createInvoice">
    Vytvor Faktúru
</button>
<script>
    function generateInvoice(){
        let form = document.getElementById("orderForm");
        form.action = "/invoices/generate";
        form.submit();
    }

</script>