<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<table id="fancyTable">
    <thead>
    <tr>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Telefón</th>
        <th>Email</th>

    </tr>
    </thead>
    <tbody>
    {{#each this}}
    {{#if this.id}}
        <tr onclick="redirect('/employee/{{this.id}}')" class="hover:bg-gray-300 cursor-pointer text-center">
            <td>{{this.name}}</td>
            <td>{{this.surname}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>
        </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>
<a class="myButtonStyle" href="/employee/create">Pridaj Zamestnanca</a>



<script>
    function redirect(path){
        window.location.href = path;
    }

    $(document).ready(function() {
        $('#fancyTable').DataTable({
            "language":{
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Slovak.json"
            }
        });
    });
</script>
