<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<main class="col-span-9 md:col-span-10 p-6">
    <table id="fancyTable">
        <thead>
            <tr>
                <th>Číslo</th>
                <th>Dátum vystavenia</th>
                <th>Zákazník</th>
                <th>Zákazka</th>
                <th>Suma <p class="font-light text-xs inline">bez DPH</p></th>
                <th>Vystavil</th>
                <th>Tag</th>
                <th>Stav</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                {{#if this.id}}
                <tr onclick="redirect('/invoices/{{this.id}}')" class="hover:bg-gray-300 cursor-pointer text-center">
                    <td>{{this.invoiceNumber}}</td>
                    <td> {{dateParse this.dateOfIssue}} </td>
                    <td>{{this.pickedUpSurname}}</td>
                    <td>{{this.name}}</td>
                    <td>{{priceWithoutTax this}}</td>
                    <td>{{this.issuedSurname}}</td>
                    <td>{{this.tag}}</td>
                    <td>{{#if this.paidDate}} <p class="font-semibold text-green-500" >Vyplatená</p> {{else}} {{#beforeDueDate this.dueDate}} <p>Čaká sa na platbu</p> {{else}} <p class="font-semibold text-red-500">Po splatnosti</p> {{/beforeDueDate}} {{/if}}</td>
                </tr>
                {{/if}}
            {{/each}}
        </tbody>

    </table>
    <fm-button class="block mt-4" onclick="redirect('/invoices/create')">Vytvor Faktúru</fm-button>
</main>

<script src="/initDatatables.js"></script>
<script src="/redirectFunction.js"></script>