<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<main class="col-span-9 md:col-span-10 p-6">
<table id="fancyTable">
    <thead>
    <tr>
        <th>Číslo</th>
        <th>Dátum vzniku</th>
        <th>Názov</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        {{#if this.id}}
            <tr onclick="redirect('/expense/{{this.id}}')" class="hover:bg-gray-300 cursor-pointer text-center">
                <td>{{this.id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.name}}</td>
                <td>{{this.amount}}</td>
            </tr>
        {{/if}}
    {{/each}}
    </tbody>
</table>
<fm-button class="block mt-4" onclick="redirect('/expense/create')">Vytvor Výdavok</fm-button>
</main>

<script src="/initDatatables.js"></script>
<script src="/redirectFunction.js"></script>