<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>



<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<main class="col-span-9 md:col-span-10 p-6">
<table id="fancyTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Kód</th>
            <th>Cena bez dane</th>
            <th>Množstevná jednotka</th>
            <th>Daň v %</th>
            <th>Popis</th>
            <th>Poznámka</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            {{#if this.id}}
            <tr class="hover:bg-gray-300 text-center">
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.barcode}}</td>
                <td>{{this.priceWithoutTax}}</td>
                <td>{{this.unit}}</td>
                <td>{{this.tax}}</td>
                <td>{{this.body}}</td>
                <td>{{this.note}}</td>
            </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>
</main>



<script>
    $(document).ready(function() {
        $('#fancyTable').DataTable({
            "language":{
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Slovak.json"
            },
            lengthMenu: [20,25,50,100]
        });
    });
</script>
